
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease; 
    background-color: #f4f4f9; /* Default color */
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.2); 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
    color: #333;
    margin-bottom: 25px;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

button {
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


button:hover {
    background-color: #000;
    transform: translateY(-3px); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}


button:active {
    transform: translateY(0);
}